html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    margin:0;
    height:100vh;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
}

/* Layout */
.grid-container {
    display: grid;
    grid-template-areas: 
      'header'
      'main'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows:  5rem 1fr 5rem;
    height: 100%;

}

header {
    grid-area: header; /* connects to header in grid-container*/
    background-color: forestgreen;
}
main {
    grid-area: main;
    padding: 1 rem;
}
footer {
    grid-area: footer;
    background-color: forestgreen;
    color: wheat;
}
/* COMMON CLASSES */
h1 {
    font-size: 1.8 rem;
    padding:  1rem 0;
}
h2 {
    font-size: 1.6 rem;
    padding: 1rem 0;
    color: darkgreen;
}
a{
    text-decoration: none;
}
a:hover{
    color: burlywood;
}
/* Header*/
header a {
    color: white;
    padding: 1 rem;
}
a.brand{
    color: burlywood;
    font-size: 3rem;
    font-weight: bold;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.row.center {
    justify-content: center;
}
/* Image */
img {
    border-radius: 0.5rem;
}
img.medium {
    max-width: 30rem;
    width: 100%;;
}

/* Card */
.card{
    border: 0.1rem lightgrey solid;
    background-color: rgb(231, 227, 227);
    border-radius: 0.5rem;
    margin: 1rem;
}
.card-body{
    padding: 1rem;
}
.card-body > *{
    margin-bottom: 0.5rem;
}
.price {
    font-size: 2rem;
}
/* Rating */
.rating span {
    color: gold;
    margin: 0.1rem;
}